version: "3.9"

services:
  api:
    build: .
    container_name: email_api
    restart: always
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    depends_on:
      - redis

  worker:
    build: .
    container_name: email_worker
    restart: always
    command: npm run start:worker
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: email_redis
    ports:
      - "6379:6379"
